.game {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  @include mq($laptop) {
    width: 100%;
  }

  &__back-art {
    width: 100%;
    z-index: -2;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    height: 0;
    padding-top: 56.25%;
  }

  &__main {
    margin-bottom: 6rem;
    display: flex;
    position: relative;
    z-index: 1;

    @include mq(tablet) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  &__art {
    position: relative;
    z-index: 1;
    width: 40rem;
    height: 30rem;
    background-color: var(--color-grey-dark-1);
    background-size: cover;
    background-position: center center;

    @include mq($tablet) {
      overflow: hidden;
      height: 0;
      padding-top: 56.25%;
    }
  }

  &__content {
    flex: 1;
    margin: -1.4rem 0;
    margin-left: 3.5rem;

    @include mq(tablet) {
      order: 0;
      margin: 0;
      margin-top: 1rem;
    }
  }

  &__name {
    font-size: 3.4rem;
    margin-bottom: -1rem;

    @include mq(tablet) {
      font-size: 2.6rem;
    }
  }

  &__alternative-names {
    display: block;
    font-size: 1.6rem;
    font-style: italic;
    color: var(--color-grey-dark-3);
    margin-bottom: 1.4rem;
  }

  &__released,
  &__genres,
  &__homepage,
  &__description {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 100;
    margin-top: -0.5rem;
    margin-bottom: 1.5rem;
  }

  &__genres {
    & span {
      font-weight: 100;
      display: inline-block;
      border-bottom: 1px solid #fff;
      cursor: pointer;
    }
  }

  &__genre,
  &__tag {
    color: #fff;
  }

  &__genre {
    border-bottom: 1px solid #fff;
  }

  &__homepage > a {
    color: #fff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__meta {
    font-size: 2rem;
    display: inline-block;
    border: 1px solid currentColor;
    padding: 0.2rem 1.5rem;
    border-radius: 0.4rem;
    margin: 0 0 1rem 0;
  }

  &__trailer {
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    padding: 0.4rem 0.8rem;
    margin-top: 1rem;
    border-radius: 0.4rem;
    transition: 0.2s;

    span {
      margin-left: 0.5rem;
    }

    &:hover {
      background-color: #fff;
      color: var(--color-dark);
      cursor: pointer;
    }
  }

  &__actions {
    list-style-type: none;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    margin-top: 1rem;

    @include mq(tablet) {
      justify-content: center;
    }
  }

  &__action {
    flex: 1;
    border: 1px solid #fff;
    border-radius: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    height: 3rem;

    span {
      margin-left: 0.6rem;
    }

    & + & {
      margin-left: 1rem;
    }

    &:hover {
      background-color: #fff;
      color: var(--color-dark);
      cursor: pointer;
    }

    &--liked {
      border: 1px solid var(--color-pink);
      background-color: var(--color-pink);
      color: #fff;
    }

    &--like {
      &:hover {
        border: 1px solid var(--color-pink);
        background-color: var(--color-pink);
        color: #fff;
      }
    }
  }

  &__images {
    display: grid;
    grid-template-columns: repeat(2, minmax(50px, 1fr));
    column-gap: 1rem;
    row-gap: 1rem;

    @include mq($tablet) {
      grid-template-columns: repeat(1, minmax(50px, 1fr));
    }
  }

  &__image {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 25rem;

    @include mq($tablet) {
      height: 25rem;
    }

    @include mq($phablet) {
      height: 20rem;
    }
  }

  &__show-more {
    font-style: italic;
    color: var(--color-grey-dark-3);
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__sub {
    display: flex;

    @include mq($tablet) {
      flex-direction: column;
    }
  }

  &__tags {
    display: flex;
    flex-direction: column;

    @include mq($tablet) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__tag {
    display: inline-block;
    font-weight: 100;
    color: #fff;
    cursor: pointer;

    @include mq($tablet) {
      border-bottom: 1px solid #fff;
      margin-right: 1rem;
    }
  }
}

.deep {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -2;
}

.left {
  flex: 0 0 80%;
  margin-right: 2rem;

  @include mq($tablet) {
    margin: 0;
  }
}

.right {
  margin-top: -0.5rem;

  @include mq($tablet) {
    margin: 2rem 0 3rem 0;
  }
}
