.icon {
  box-sizing: content-box;
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;

  &--play {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    display: block;
    padding: 0.8rem;
    border-radius: 0.4rem;
    background-color: rgba(0, 0, 0, 0.7);
  }

  &--like {
    color: var(--color-grey-dark-2);
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      color: var(--color-pink);
    }
  }
}
