.icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;

  &--play {
    box-sizing: content-box;
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    display: block;
    padding: 0.6rem;
    padding-right: 0.4rem;
    border-radius: 10rem;
    background-color: rgba(0, 0, 0, 0.7);
  }
}
