* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @include mq($desktop) {
    font-size: 55%;
  }

  @include mq($laptop) {
    font-size: 50%;
  }
}

body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: var(--color-dark);
  color: #fff;
}

.App {
  padding: 0 5rem;
}

.header {
  height: $header-height;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @include mq($tablet) {
    margin: 2rem 0;
  }
}

.logo {
  flex: 0 0 10%;
  margin-right: 4rem;
  font-size: 2.4rem;
  letter-spacing: 0.4rem;
  cursor: pointer;

  @include mq($tablet) {
    margin-right: auto;
  }
}

.login {
  font-size: 1.8rem;
  font-weight: 600;
  outline: none;
  border: none;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  padding: 0.4rem;
}

.search-bar {
  flex: 0 0 40%;
  margin-right: auto;
  display: flex;
  align-items: center;
  border-radius: 10rem;
  font-size: 1.5rem;
  background-color: var(--color-grey-dark-1);
  transition: background-color 0.2s linear;

  &:hover {
    background: #fff;
  }

  &:hover > &__button,
  &:hover > &__input,
  &:hover > &__input::-webkit-input-placeholder {
    color: var(--color-dark);
  }

  @include mq($desktop) {
    flex: 0 0 50%;
  }

  @include mq($laptop) {
    flex: 0 0 60%;
  }

  @include mq($tablet) {
    flex: 0 0 100%;
    order: 2;
    margin-right: 0;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-grey-dark-3);
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    margin-left: 1.5rem;
  }

  &__icon {
    height: 1.2rem;
    width: 1.2rem;
    fill: currentColor;
  }

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    padding: 1rem;
    width: 100%;

    &:focus {
      outline: none;
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-dark-3);
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
}

.column {
  margin-top: 2rem;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
}

.icon--play {
  box-sizing: content-box;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  display: block;
  padding: 0.6rem;
  padding-right: 0.4rem;
  border-radius: 10rem;
  background-color: rgba(0, 0, 0, 0.7);
}

.nav {
  position: relative;
  color: #fff;
  margin-bottom: 4rem;

  @include mq($tablet) {
    margin-bottom: 0;
  }

  &__icon {
    display: none;
    width: 3rem;
    height: 3rem;
    fill: currentColor;
    margin-top: 1.5rem;
    transition: transform 0.2s;

    @include mq($tablet) {
      display: inline-block;
    }

    &--up {
      transform: rotate(-90deg);
    }

    &--down {
      transform: rotate(90deg);
    }
  }

  &__menu {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

    &--visible {
      height: 0;
    }

    @include mq($tablet) {
      background-color: var(--color-dark);
      padding: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      flex-direction: column;
      text-align: center;
      z-index: 1;

      &--visible {
        transform: translateY(0);
      }
    }
  }

  &__link {
    font-size: 1.6rem;
    padding: 0.6rem 1.6rem;
    background-color: var(--color-grey-dark-1);
    color: var(--color-grey-dark-3);
    margin: 1rem 1rem 0 0;
    border-radius: 10rem;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background-color: #fff;
      color: var(--color-dark);
    }

    @include mq($tablet) {
      font-size: 1.6rem;
      padding: 1rem 1.6rem;
      color: var(--color-grey-dark-3);
      background-color: transparent;
      margin: 0;
      border-radius: 0;
      border-bottom: 1px solid var(--color-grey-dark-1);
      border-left: 1px solid var(--color-grey-dark-1);
      border-right: 1px solid var(--color-grey-dark-1);
    }

    &:first-child {
      @include mq($tablet) {
        border-top: 1px solid var(--color-grey-dark-1);
      }
    }
  }

  &__link--active {
    background-color: #fff;
    color: var(--color-dark);
  }
}

.games {
  margin: 2rem 0 12rem 0;
}

.games-rendered {
  display: grid;
  grid-template-columns: repeat(4, minmax(50px, 1fr));
  column-gap: 2rem;
  row-gap: 2rem;

  @include mq($desktop) {
    grid-template-columns: repeat(3, minmax(50px, 1fr));
  }

  @include mq($laptop) {
    grid-template-columns: repeat(2, minmax(50px, 1fr));
  }

  @include mq($tablet) {
    grid-template-columns: repeat(1, minmax(50px, 1fr));
  }
}

.game {
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  color: #fff;
  transition: box-shadow 0.2s;

  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
    background-color: var(--color-grey-dark-1);
  }

  &__name {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
  }

  &__meta {
    font-size: 1.4rem;
    font-weight: 600;
    display: inline-block;
    padding: 0 0.8rem;
    color: currentColor;
    border: 1px solid currentColor;
    border-radius: 0.4rem;
  }
}

.background {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  z-index: 0;
  transition: opacity 0.2s, transform 0.2s;
}

.-metacritic-red {
  color: red;
}

.-metacritic-yellow {
  color: yellow;
}

.-metacritic-blue {
  color: blue;
}

.-metacritic-green {
  color: green;
}

.video {
  font-size: 1.7rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__frame {
    height: 200px;
    width: 100%;
    object-fit: fill;
  }

  &__full-frame {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.45);
    color: #fff;
    border: 2px solid transparent;
    outline: none;
    padding: 0.6rem 1rem;
    border-radius: 0.4rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: border 0.2s;
    display: flex;
    align-items: center;

    &:hover {
      border: 2px solid rgba(255, 255, 255, 0.7);
    }

    &:active {
      transform: translate(1px, 1px);
    }

    span {
      margin-left: 0.5rem;
    }
  }

  &__loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.lds-spinner {
  color: currentColor;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;

  & div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  & div:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #fff;
  }
  & div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  & div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  & div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  & div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  & div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  & div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  & div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  & div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  & div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  & div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  & div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  & div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
