* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: var(--color-dark);
  color: #fff;
}

.App {
  padding: 0 4rem;
}

.header {
  height: 10rem;
  display: flex;
  align-items: center;
}

.logo {
  flex: 0 0 10%;
  font-size: 2.4rem;
  letter-spacing: 0.4rem;
  cursor: pointer;
}

.login {
  font-size: 1.5rem;
  font-weight: 600;
  outline: none;
  border: none;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  padding: 0.4rem;
}

.search-bar {
  flex: 0 0 40%;
  margin-right: auto;
  display: flex;
  align-items: center;
  border-radius: 10rem;
  font-size: 1.5rem;
  background-color: var(--color-grey-dark-1);
  transition: background-color 0.2s linear;

  &:hover {
    background: #fff;
  }

  &:hover > &__button,
  &:hover > &__input,
  &:hover > &__input::-webkit-input-placeholder {
    color: var(--color-dark);
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-grey-dark-3);
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    margin-left: 1.5rem;
  }

  &__icon {
    height: 1.2rem;
    width: 1.2rem;
    fill: currentColor;
  }

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    padding: 1rem;
    width: 100%;

    &:focus {
      outline: none;
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-dark-3);
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
}

.sidebar {
  flex: 0 0 18%;
}

.nav {
  margin-bottom: 3rem;

  &__menu {
    display: flex;
    flex-wrap: wrap;
  }

  &__link {
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--color-dark);
    padding: 1rem 2rem;
    background-color: var(--color-grey-dark-1);
    color: var(--color-grey-dark-3);
    margin: 1rem 1rem 0 0;
    border-radius: 10rem;
    transition: 0.2s;

    &:hover {
      background-color: #fff;
      color: var(--color-dark);
    }
  }

  &__link--active {
    background-color: #fff;
    color: var(--color-dark);
    cursor: pointer;
  }
}

.games {
  display: grid;
  grid-template-columns: repeat(4, minmax(50px, 1fr));
  column-gap: 2rem;
  margin: 2rem 0;
}

.game {
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  color: #fff;
  transition: box-shadow 0.2s;

  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  & + & {
    margin-top: 2rem;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
    background-color: var(--color-grey-dark-1);
  }

  &__name {
    font-size: 2.2rem;
    font-weight: 600;
    cursor: pointer;
  }

  &__meta {
    font-size: 1.4rem;
    font-weight: 600;
    display: inline-block;
    padding: 0 0.8rem;
    color: currentColor;
    border: 1px solid currentColor;
    border-radius: 0.4rem;
  }
}

.background {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
  opacity: 1;
  transition: opacity 0.2s, transform 0.2s;
}

.-metacritic-red {
  color: red;
}

.-metacritic-yellow {
  color: yellow;
}

.-metacritic-blue {
  color: blue;
}

.-metacritic-green {
  color: green;
}

.video {
  font-size: 1.7rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__frame {
    height: 200px;
    width: 100%;
    object-fit: fill;
  }

  &__full-frame {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.45);
    color: #fff;
    border: 2px solid transparent;
    outline: none;
    padding: 1rem;
    border-radius: 0.4rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: border 0.2s;

    &:hover {
      border: 2px solid rgba(255, 255, 255, 0.7);
    }

    &:active {
      transform: translate(1px, 1px);
    }
  }

  &__loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.lds-spinner {
  color: currentColor;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;

  & div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  & div:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #fff;
  }
  & div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  & div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  & div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  & div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  & div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  & div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  & div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  & div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  & div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  & div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  & div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  & div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
